/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #202d48;
  padding: 16px;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.main-wrapper {
  display: grid;
  background-color: #202d48;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-wrapper ul,
.nav-wrapper li {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header {
  background-color: white;
  grid-column: 2 / -1;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 24px;
}

.side-bar {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  padding: 24px;
  background-color: pink;
}

.book-grid {
  grid-column: 2 / -1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 24px;
  background-color: white;
  min-height: 83vh;
}
