/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #073937;
  padding: 16px;
  color: #073937;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: 'Baskerville', serif;
  font-weight: 400;
  color: #073937;
}

/* Headings */
h1 {
  font-size: 3.5rem; /* 56px */
  line-height: 1.2; /* 76px */
}

h2 {
  font-size: 2.625rem; /* 42px */
  line-height: 1.2;
}

h3 {
  font-size: 2rem; /* 32px */
  line-height: 1.2; /* 48px */
}

h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.3;
}

h5 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.3;
}

/* Body text */
body,
p {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}
/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* libre-baskerville-700 - latin */
/* baskervville-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/baskervville-v16-latin-regular.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*-------------*/
.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper ul,
.nav-wrapper li {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.nav-wrapper div:first-child {
  display: flex;
  gap: 16px;
}

header {
  background-color: white;
  grid-column: 2 / -1;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: clamp(16px, 4vw, 24px);
}

.side-bar {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  padding: clamp(16px, 4vw, 24px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-right: 32px;
}

.side-bar div {
  display: flex;
  flex: 1;
  flex-basis: 100%;
}

.book-grid {
  grid-column: 2 / -1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: clamp(16px, 4vw, 24px);
  background-color: white;
  min-height: 75vh;
}

.add-book,
button {
  appearance: none;
  border: none;
  margin: 0;
  font: inherit;
  color: #073937;
  background-color: #fcf5eb;
  border-radius: 50px;
  padding: 8px 32px;
  text-align: center;
  flex: 1;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.add-book:hover,
.add-book:focus,
button:hover,
button:focus {
  background-color: #f3eadc;
  border: none;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 24px;
  border-radius: 24px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.modal-container div:first-child:has(button) {
  display: flex;
  justify-content: flex-end;
}

.modal-container div:first-child button {
  all: unset;
  padding: 4px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  background-color: none;
}

.modal-container div:first-child button:hover {
  transform: scale(1.25, 1.25);
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.book-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, max-content));
  background-color: #fffbf2;
  border-radius: 24px;
}

.book-card {
  padding: clamp(16px, 4vw, 24px);
  border-radius: 16px;
  background-color: white;
  border: 1px solid #f6f3eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  flex: 0 0 auto;
}

.book-card button:nth-of-type(2) {
  background-color: orange;
  /* margin-top: auto; */
  &:hover {
    background-color: #f9be25;
  }
}

.book-card button {
  padding: 8px;
  flex: 0 1 auto;
}

.book-card p:first-of-type {
  margin-top: 16px;
}

.book-card p:last-of-type {
  margin-bottom: 16px;
}

.book-card h3 {
  margin-bottom: auto;
}

.books-section {
  padding: clamp(16px, 4vw, 24px);
  background-color: white;
  border-radius: 0px 0px 24px 24px;
}

input,
select {
  border-radius: 50px;
  padding: 8px;
  border: 2px solid #f3eadc;
  margin-top: 4px;
  margin-bottom: 8px;
  background-color: white;
}

input:focus,
input:active,
input:focus-visible,
select:focus,
select:active,
select:focus-visible {
  background-color: #073937;
  border-color: #073937;
  color: #fffbf2;
  outline: none;
}

@media (max-width: 750px) {
  .main-wrapper {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .side-bar,
  header,
  .book-section {
    grid-column: 1 / -1;
  }

  .side-bar {
    grid-row: 1/2;
    padding: 8px;
    align-items: center;
    justify-content: center;
  }

  .nav-wrapper {
    flex-direction: column;
  }
}
